body {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #444;
}

.shadowBox {
  padding: 60px;
}
.shadowBox .main {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
}

.side_left {
  background-color: #E5F1FF;
  width: 35%;
  padding: 30px;
}
.side_left .profile {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: solid 5px #0066DD;
  user-select: none;
  pointer-events: none;
}
.side_left .profile img {
  width: 100%;
}
.side_left .profile_name {
  display: none;
  padding: 60px 0;
  letter-spacing: 1px;
  position: relative;
  min-height: 240px;
}
.side_left .profile_name::after {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 25px;
  height: 80%;
  background-color: #0066DD;
  border-radius: 50px;
}
.side_left .profile_name h1 {
  font-size: 54px;
  margin: 0;
}
.side_left .profile_name h1 strong {
  color: #0066DD;
}
.side_left .profile_name h2 {
  font-size: 42px;
  margin: 0;
  opacity: 0.95;
  font-weight: 400;
}
.side_left .boxArea {
  margin: 80px auto;
}
.side_left .boxArea .title {
  display: flex;
  align-items: center;
}
.side_left .boxArea .title span {
  width: 80px;
}
.side_left .boxArea .title span em {
  width: 50px;
  height: 50px;
  background-color: #0066dd;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
}
.side_left .boxArea .title span em svg path {
  fill: #fff;
}
.side_left .boxArea .title h3 {
  font-weight: bold;
  letter-spacing: 1px;
  color: #0066DD;
}
.side_left .boxArea .contentArea {
  margin: auto 40px 0 80px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}
.side_left .boxArea.contact .contentArea {
  margin: 0;
}
.side_left .boxArea.contact .contentArea .contact-list {
  display: flex;
  align-items: center;
}
.side_left .boxArea.contact .contentArea .contact-list:first-child em {
  border-radius: 50px 50px 0 0;
}
.side_left .boxArea.contact .contentArea .contact-list:last-child em {
  border-radius: 0 0 50px 50px;
}
.side_left .boxArea.contact .contentArea .contact-list span {
  width: 80px;
}
.side_left .boxArea.contact .contentArea .contact-list span em {
  width: 50px;
  height: 50px;
  background-color: #0066dd;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 12px;
}
.side_left .boxArea.contact .contentArea .contact-list span em svg path {
  fill: #fff;
}
.side_left .boxArea.contact .contentArea .contact-list h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}
.side_left .boxArea.contact .contentArea .contact-list h3 a {
  color: #444;
}
.side_left .boxArea.education .title svg path {
  fill: transparent;
  color: white;
}
.side_left .boxArea.education .contentArea .education_fild {
  margin: 30px auto;
  font-size: 16px;
}
.side_left .boxArea.education .contentArea .education_fild p {
  margin: 0px;
}
.side_left .boxArea.education .contentArea .education_fild strong {
  font-weight: 500;
}

@media (max-width: 767px) {
  .main {
    flex-direction: column !important;
  }
  .main .side_left,
.main .side_Right {
    width: 100% !important;
  }
  .main .side_left .profile_name {
    display: block !important;
    min-height: 0;
    padding: 30px 0;
    padding-bottom: 10px;
    text-align: center;
  }
  .main .side_left .profile_name::after {
    display: none;
  }
  .main .side_left .profile_name h1 {
    font-size: 38px !important;
  }
  .main .side_left .profile_name h2 {
    font-size: 32px !important;
  }
  .main .side_left .boxArea {
    margin: 60px auto;
  }
  .main .side_Right {
    padding: 30px !important;
  }
  .main .side_Right .profile_name {
    display: none !important;
  }
  .main .side_Right .areaBox {
    margin: 50px auto !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .side_left {
    width: 45% !important;
  }

  .side_Right {
    width: calc(100% - 45%) !important;
    padding: 30px 40px !important;
  }
}
.side_Right {
  background-color: white;
  padding: 30px 80px;
  width: calc(100% - 35%);
}
.side_Right .profile_name {
  padding: 60px 0;
  letter-spacing: 1px;
  position: relative;
  min-height: 240px;
}
.side_Right .profile_name::after {
  content: "";
  position: absolute;
  right: -40px;
  bottom: 0;
  width: 25px;
  height: 80%;
  background-color: #0066DD;
  border-radius: 50px;
}
.side_Right .profile_name h1 {
  font-size: 54px;
  margin: 0;
}
.side_Right .profile_name h1 strong {
  color: #0066DD;
}
.side_Right .profile_name h2 {
  font-size: 42px;
  margin: 0;
  opacity: 0.95;
  font-weight: 400;
}
.side_Right .areaBox {
  margin: 60px auto;
}
.side_Right .areaBox h3 {
  font-weight: bold;
  letter-spacing: 1px;
  color: #0066DD;
}
.side_Right .areaBox.experience .list {
  font-size: 16px;
  margin: 40px auto;
}
.side_Right .areaBox.experience .list strong {
  font-weight: bold;
  text-transform: uppercase;
}
.side_Right .areaBox.experience .list p {
  margin: 0;
}
.side_Right .areaBox.skill .list {
  margin: 30px auto;
  display: flex;
  align-items: center;
  position: relative;
}
.side_Right .areaBox.skill .list strong {
  width: 130px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.side_Right .areaBox.skill .list span {
  width: 300px;
  height: 5px;
  border-radius: 10px;
  background-color: #0066DD;
  position: relative;
}
.side_Right .areaBox.skill .list span::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 100%;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  background-color: #0066DD;
}
.side_Right .areaBox.skill .list.p-90 span::after {
  left: 90%;
}
.side_Right .areaBox.skill .list.p-80 span::after {
  left: 80%;
}
.side_Right .areaBox.skill .list.p-75 span::after {
  left: 75%;
}
.side_Right .areaBox.skill .list.p-70 span::after {
  left: 70%;
}
.side_Right .areaBox.skill .list.p-60 span::after {
  left: 60%;
}
.side_Right .areaBox.skill .list.p-50 span::after {
  left: 50%;
}
.side_Right .areaBox.interests .box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 30px auto;
}
.side_Right .areaBox.interests .box p {
  margin: 0;
  margin-right: 30px;
}
.side_Right .areaBox.portfolio a {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  color: #444;
}

@media (max-width: 1023px) {
  .shadowBox {
    padding: 0px !important;
  }
}